*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* ========SIDE-BAR======== */
:root{
    /* ========= Colors ========== */
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #ff7b00;
    --primary-color-light: #3a3d3c;
    --toggle-color:#fff;
    --text-color: #ccc;

    /* ======== Transitions ======== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-04);
}

body.dark{
    --body-color: #E4e9f7;
    --sidebar-color: #fff;
    --primary-color: #ff7b00;
    --primary-color-light: #f6f5ff;
    --toggle-color:#ddd;
    --text-color: #707070;
   
}

/* =====reusable css===== */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: all 1s ease;
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .menu{
    margin-top: 35px;
}

/* ====== Sidebar ====== */


.sidebar header{
    position: relative;
}
.sidebar{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--sidebar-color);
    padding: 10px;
    transition: var(--tran-05);
}

.sidebar.close{
    width: 78px;
}

.sidebar.close .text{
    opacity: 0;
}
.sidebar .image-text img{
    width:55px;
    border-radius: 6px;
    background-color: black;
    padding: 5px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

#searching-bar{
    font-size: 1.1rem;
    margin-left: -20px;
}
.dark #searching-bar{
    color: white;
}
.header-text .name{
    font-weight: 800;
    color: white;
}

.dark .header-text .name{
    color: white;
}

.header-text .profession{
    font-size: 12px;
    color: var(--text-color);
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50px;
    right: -29px;
    transform: translateY(-50%);
    height: 37px;
    width: 37px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    color: var(--sidebar-color);
}

.sidebar.close .menu-bar .menu #searching-bar{
    display: none;
}
.sidebar.close .header-text{
    display: none;
    transition: var(--tran-05);
}
.dark .image img{ 
    filter: invert(1);
}

.sidebar li{
    height: 50px;;
    list-style: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    
}

.sidebar li .icon{
    min-width:60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.sidebar li .text,
.sidebar li .icon{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-02);
}

.sidebar .search-box{
    background-color: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color:var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    background-color: var(--primary-color-light);
    border-radius: 6px;
    
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position:absolute;
    right: 0px;
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    background-color: var(--toggle-color);
    border-radius: 25px;
}

.switch::before{
    height: 15px;
    width: 15px;
    background-color: var(--sidebar-color);
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: calc(100% - 20px);

}

.main-content{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .main-content{
    left: 78px;
    width: calc(100% - 78px);
}
.main-content{
    padding: 20px;
}




main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  main a {
    text-decoration: none;
  }
  
  .header__wrapper header {
    width: 100%;
    background: url("../img/bg.jpeg") no-repeat 50% 20% / cover;
    min-height: calc(100px + 15vw);
  }
  
  .header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
  }
  
  .header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
  }
  .header__wrapper .cols__container .left__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
  }
  .header__wrapper .cols__container .left__col .img__container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
  }
  .header__wrapper .cols__container .left__col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
  }
  .header__wrapper .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
  }
  .header__wrapper .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
  }
  .header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
  }
  .header__wrapper .cols__container .left__col .about li span {
    color: #c5c2c2;
    font-weight: 600;
  }
  .header__wrapper .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
  }
  .header__wrapper .cols__container .content p {
    font-size: 1rem;
    color: #b3b1b1;
    line-height: 1.8em;
  }
  .header__wrapper .cols__container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  .header__wrapper .cols__container .content ul li {
    display: flex;
  }
  .header__wrapper .cols__container .content ul i {
    font-size: 1.3rem;
  }
  .header__wrapper .cols__container .right__col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .header__wrapper .cols__container .right__col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .header__wrapper .cols__container .right__col nav ul li a {
    text-transform: uppercase;
    color: #818181;
  }
  .header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
    color: #939292;
    font-weight: 600;
  }
  .header__wrapper .cols__container .right__col nav button {
    background: #ff7b00;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  .header__wrapper .cols__container .right__col nav button:hover {
    opacity: 0.8;
  }
  .header__wrapper .cols__container .right__col .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
  }
  .header__wrapper .cols__container .right__col .photos img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  
  /* Responsiveness */
  
  @media (min-width: 868px) {
    .header__wrapper .cols__container {
      max-width: 1200px;
      margin: 0 auto;
      width: 90%;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
    }
    .header__wrapper .cols__container .left__col {
      padding: 25px 0px;
    }
    .header__wrapper .cols__container .right__col nav ul {
      flex-direction: row;
      gap: 30px;
    }
    .header__wrapper .cols__container .right__col .photos {
      height: 365px;
      overflow: auto;
      padding: 0 0 30px;
    }
  }
  
  @media (min-width: 1017px) {
    .header__wrapper .cols__container .left__col {
      margin: 0;
      margin-right: auto;
    }
    .header__wrapper .cols__container .right__col nav {
      flex-direction: row;
    }
    .header__wrapper .cols__container .right__col nav button {
      margin-top: 0;
    }
  }


  main{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
  }

  .header__wrapper{
    margin-top: -200px;
  }

  h2{
    color:white;
  }
